__pycache__/
*.pyc
.venv
*.npz
catkin_ws/devel/
catkin_ws/build/
catkin_ws/install/
runs/
wandb/
logs/
# 子仓库和第三方库
rlft/dsrl_ajwagen/
rlft/dsrl_official/
.vscode/
inference/.vscode/
umi-arx/
detached-umi-policy/
eval_output/
recorded_data/
archive/
timeline_record/
inference_logs/
inference_logs_old/
